/* rest basico */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
/* usamos flexbox para organizar el contenido de la página */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin-top: 20px;
    
}

#header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    color: black;
    padding: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

main{
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 20px;
}

main div{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: lightblue;
}

section{
    background-color: rgb(30, 137, 156);
    padding: 20px;
    border-radius: 5px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(17, 100, 128);
    padding: 20px;
    border-radius: 5px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: aqua;
    color: black;
    padding: 20px;
}